#!/usr/bin/env ruby

# A few helpful tips about the Rules file:
#
# * The string given to #compile and #route are matching patterns for
#   identifiers--not for paths. Therefore, you can’t match on extension.
#
# * The order of rules is important: for each item, only the first matching
#   rule is applied.
#
# * Item identifiers start and end with a slash (e.g. “/about/” for the file
#   “content/about.html”). To select all children, grandchildren, … of an
#   item, use the pattern “/about/*/”; “/about/*” will also select the parent,
#   because “*” matches zero or more characters.

# reglas de compilación
#######################

compile '*' do
  case @item[:extension]
  when /scss/
    filter :sass, :syntax => :scss
  when /markdown/
    filter :kramdown
    layout 'default'
  when /haml/
    filter :haml
    layout 'default'
  else
  end
end

# reglas de ruteo
#################

# Las cosas en fuentes deben ir sin procesar
route '/copyleft/fuentes/*/' do
  item.identifier.chop + '.' + item[:extension]
end

route '*' do
  if @item.binary?
    # Write item with identifier /foo/ to /foo.ext
    @item.identifier.chop + '.' + @item[:extension]
  elsif %w{css scss sass}.include? @item[:extension]
    @item.identifier.chop + '.css'
  elsif %w{js coffescript}.include? @item[:extension]
    @item.identifier.chop + '.js'
  else
    # Write item with identifier /foo/ to /foo/index.html
    @item.identifier + 'index.html'
  end
end

# reglas de layout
##################

layout '*', :haml
