#secciones
  %h1 Secciones
  - raiz = @items.find { |i| i.path == '/' }
  - clase = (@item == raiz) ? 'actual' : 'noactual'
  - link = link_to(raiz[:titulo], raiz.rep_named(:default))
  %ul.menu
    %li{:class => clase}= link
    - raiz.children.each do |pagina|
    - unless pagina.rep_named(:default).path == '/conclusiones/'
      - clase = (@item == pagina) ? 'actual' : 'noactual'
      - link = link_to(pagina[:titulo], pagina.rep_named(:default))
        %li{:class => clase}
          = link if pagina[:extension] == 'markdown'
          - unless pagina.children.empty?
            %ul.submenu
              - pagina.children.each do |subpagina|
              - clase = (@item == subpagina) ? 'actual' : 'noactual'
              - link = link_to(subpagina[:titulo], subpagina.rep_named(:default))
                %li{:class => clase}= link if subpagina[:extension] == 'markdown'
    - conclusiones = @items.find { |i| i.path == '/conclusiones/' }
    - clase = (@item == conclusiones) ? 'actual' : 'noactual'
    - link = link_to(conclusiones[:titulo], conclusiones.rep_named(:default))
    %li{:class => clase}= link
