!!! xml
!!! rdfa
%html{'xml:lang' => 'es_AR',  'xmlns' => 'http://www.w3.org/1999/xhtml',
                              'xmlns:dc' => "http://purl.org/dc/terms/"}
  %head
    %meta{'http-equiv' => "Content-Type", :content => "text/html; charset=utf-8"}
    %title "Anonimato: #{@item[:encabezado]}"
    %link{:rel => "stylesheet", :title => "general", :type => "text/css",
          :href => "/style.css", :media => "screen"}
    %meta{:name => "generator", :content => "nanoc 3.1.2"}
  %body
    #barra
    #contenido= yield
    #pie
      %p{:about => "", :resource => "http://www.w3.org/TR/rdfa-syntax", :rel => "dc:conformsTo"}
        %a{:href => "http://validator.w3.org/check?uri=referer"}
          %img{:src => "http://www.w3.org/Icons/valid-xhtml-rdfa", :alt => "Valid XHTML + RDFa"}
