body {
  background: #000;
  color: #fff;
}

a {
  text-decoration: underline;
  color: #f30;
}

a:visited {
  text-decoration: none;
}

a:hover {
  color: #f90;
}

#barra {
  position: fixed;
  top: 20px;
  left: 20px;
  width: 15%;
  padding-right: 20px;
  border-right: 1px solid #ccc;
  text-align: left;
  font-size: small;
}

#barra h1 {
  text-align: center;
  text-transform: uppercase;
  margin: 1em 0;
  font-size: medium;
}

#barra li {
  padding: 0 15px;
}

#barra ul {
  line-height: 1.5em;
}

#barra ul.submenu {
  display: none;
}

#barra ul.menu > li:hover > ul {
  display: block;
}

#contenido {
  font-family: Times, sans-serif;
  font-size: medium;
  line-height: 1.5em;
  position: absolute;
  top: 40px;
  left: 20%;
  width: 60%;
}

#contenido p,
#contenido ul,
#contenido ol,
#contenido h1,
#contenido h2,
#contenido h3,
#contenido h4,
#contenido h5,
#contenido h6 {
  margin-bottom: 1em;
  padding: 0 15px;
}

#contenido em {
  text-decoration: underline;
  font-style: italic;
}

#contenido h1{
  font-size: xx-large;
  background: #111;
  line-height: 1.5em;
}

#contenido h2{
  font-size: x-large;
  background: #333;
  line-height: 1.3em;
}

#contenido h3{
  font-size: large;
  background: #555;
  line-height: 1.1em;
}

#contenido h4{
  background: #777;
  line-height: 1em;
}

#contenido blockquote {
  text-align: right;
  font-size: small;
  font-family: arial;
}

#contenido ul {
  list-style-type: circle;
}

#contenido ol {
  list-style-type: lower-roman;
}

#pie {
  z-index: -1;
  width: 100%;
  position: fixed;
  height: 30px;
  bottom: 0;
  left: 0;
  text-align: right;
  background: transparent;
}
