body {
  background: #000 url(/imagenes/mina.png) no-repeat fixed top right;
  color: #fff;
}

a {
  text-decoration: underline;
  color: #f30;
}

a:visited {
  text-decoration: none;
}

a:hover {
  color: #f90;
}

img {
  display: block;
  margin: auto;
}

#barra {
  position: fixed;
  top: 20px;
  left: 0.5%;
  width: 20%;
  padding-right: 0.5%;
  border-right: 1px solid #ccc;
  text-align: left;
  font-size: small;
}

#barra a {
  text-decoration: none;
  background: transparent;
}

#barra h1 {
  text-align: center;
  text-transform: uppercase;
  margin: 1em 0;
  font-size: medium;
}

li.obra {
  padding: 10px;
}

li {
  padding: 0 10px;
}

#barra li {
  padding: 5px 15px;
}

#barra ul {
  line-height: 1.5em;
}

ul.submenu > * {
  display: none;
}

li:hover {
  background: #222;
}

li:hover > ul.submenu {
  position: absolute;
  left: 15%;
  background: #444;
  width: 85%;
}

li:hover > ul.submenu > * {
  display: block;
}

.actual {
  font-weight: bold;
  border-top: 1px solid #ccc;
  border-bottom: 1px solid #ccc;
}

.actual .noactual {
  font-weight: normal;
}

#contenido {
  font-family: "Courier", monospace;
  font-size: medium;
  line-height: 1.5em;
  position: absolute;
  top: 20px;
  left: 23%;
  width: 54%;
}

#contenido p,
#contenido ul,
#contenido ol,
#contenido h1,
#contenido h2,
#contenido h3,
#contenido h4,
#contenido h5,
#contenido h6 {
  margin-bottom: 1em;
  padding: 0 15px;
}

#contenido p {
}

#contenido em {
  text-decoration: underline;
  font-style: italic;
}

#contenido h1{
  font-size: xx-large;
  background: #222;
  line-height: 1.5em;
}

#contenido h2{
  font-size: x-large;
  background: #444;
  line-height: 1.3em;
}

#contenido h3{
  font-size: large;
  background: #666;
  line-height: 1.1em;
}

#contenido h4{
  font-size: large;
  background: #888;
  line-height: 1em;
}

#contenido blockquote {
  text-align: right;
  font-size: small;
  font-family: arial;
}

#contenido ul {
  list-style-type: circle;
}

#contenido ol {
  list-style-type: decimal;
}

#contenido ol ol {
  list-style-type: lower-latin;
}

#pie {
  z-index: -1;
  width: 100%;
  position: fixed;
  bottom: 0;
  left: 0;
}

#pie #validacion {
  margin: 0 0 5px 15px;
}

#pie #validacion img {
  display: inline
}

#pie #cl {
  font-size: xx-small;
  margin: 15px 0 5px 15px;
  line-height: 1.5em;
  max-width: 20%;
}
